* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block; /* remove extra space below image */
}

h1 {
  text-align: center;
  display: block;
  color: rgb(255, 56, 92);
  padding-top: 0.6em;
  font-size: 3.75em;
}

h3 {
  margin: 0rem;
  word-wrap: break-word;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.25em;
  color: #484848;
  padding-top: 0.5rem;
  padding-bottom: 0.2rem;
}

h4 {
  margin: 0rem;
  padding-top: 4em;
  word-wrap: break-word;
  font-size: 1.2em;
  font-weight: 800;
  line-height: 1.25em;
  color: #484848;
  padding-top: 0.5rem;
  padding-bottom: 0.2rem;
}

h5 {
  padding-bottom: 0rem;
  margin-bottom: 0rem;
}

footer {
  color: #6c757d !important;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

.nav {
  overflow: hidden;
  background-color: #ff5a5f;
  color: white;
  display: flex;

  width: 100vw;

  align-items: center;
}

.nav a {
  float: left;
  color: white;
  text-align: center;
  padding: 0.75rem 0.9rem;
  text-decoration: none;
  font-size: 1.2rem;
}

.ht {
  text-align: center;
  font-size: 1.65rem;
  font-weight: 300;
  color: #6c757d !important;
}

.album {
  max-width: 20rem;
  width: 100%;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529 !important;
  text-align: left;
}

.card {
  display: block;
  border-radius: 0.25rem;
  margin-right: 1rem;
  flex-basis: 100%;
  text-decoration: none;
  color: #212529 !important;
}

.image {
  min-height: 20em;
  min-width: 23em;
}

.float-right {
  margin-left: auto;
}

input[type="range"] {
  -webkit-appearance: none;
  margin: 1.5rem 0;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.2rem;
  cursor: pointer;
  background: #03a9f4;
  border-radius: 1rem;
}
input[type="range"]::-webkit-slider-thumb {
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 0.2rem 0 rgba(0, 0, 0, 1);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.6rem;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #03a9f4;
}
.flex-item {
  flex: 0 0 15rem;
  padding-right: 5rem;

  justify-content: space-evenly;
}

.flex-item2 {
  width: 40%;
  padding-right: 5rem;
}
.form {
  font-size: 1rem;
  width: 40rem;
  margin: auto;
}

.fbtext {
  width: 100%;
  height: 10rem;
}

.feedback_btn {
  margin-top: 1.5em;
  width: 100%;
  margin-bottom: 5em;

  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;

  cursor: pointer;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.large_input_text {
  display: block;
  margin-top: 1.5em;
}
.input_text {
  width: 100%;
}

.video {
  margin: auto;
  text-align: center;
}

iframe {
  margin: auto;
}
